<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>

<body>
    <div id="app">
        <header class="nav">
            <ul>
                <li class="nav-logo">
                    <img src="/static/images/Logo.png">
                </li>
                <li class="nav-chat">
                    <img src="/static/images/chat.svg">
                    <h3>CHAT</h3>
                </li>
            </ul>
        </header>
        <section class="container">
            <form @submit.prevent v-if="!formHide">
                <span id="input-email">
                    <img src="/static/images/login.svg" alt="login">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <label for="email">Email</label>
                </span>
                <span class="btn-collection">
                    <span class="btn btn-green" @click="login">Login</span>
                    <span class="btn" @click="formHide = true">
                        <img src="/static/images/storage.svg" alt="inventory" id="inventory-icon">
                        <span>Inventory</span>
                    </span>
                </span>
            </form>

            <div :class="{'inventory-back':true, 'clip':formHide}">
                <h2 v-if="formHide">INVENTORY</h2>
            </div>
            <div class="inventory-box" v-if="formHide">
                <form @submit.prevent class="item-input">
                    <input type="text" placeholder="Item" v-model="item">
                    <img src="/static/images/plus.svg" alt="add">
                </form>
                <div class="inventory-item">
                    <div class="delete-btn">
                        <object data="/static/images/error.svg" type="image/svg+xml"></object> 
                    </div>
                    <h2>Gun</h2>
                    <input type="number" min="0" max="100000">
                </div>
                <div class="inventory-item">
                    <div class="delete-btn">
                        <object data="/static/images/error.svg" type="image/svg+xml"></object> 
                    </div>
                    <h2>Gun</h2>
                    <input type="number" min="0" max="100000">
                </div>
                
            </div>

        </section>
        </span>
        <script src="/static/javascript/chat.js"></script>
</body>

</html>