<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ChatApp</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>

<body>
    <span id="app">
        <header class="nav">
            <ul>
                <li class="nav-Logo">Icon</li>
                <li class="nav-chat">Chat</li>
            </ul>
        </header>
        <section class="container">
            <form @submit.prevent v-if="!formHide">
                <span id="input-email">
                    <img src="/static/images/login.svg" alt="login">
                    <input type="email" name="email" id="email" placeholder="Email">
                    <label for="email">Email</label>
                </span>
                <span class="btn-collection">
                    <span class="btn btn-green" @click="login">Login</span>
                    <span class="btn" @click="login(true)">
                        <img src="/static/images/google-icon.svg" alt="google" id="google-icon">
                        <span>Google</span>
                    </span>
                </span>
            </form>

            <div id="chat-system" v-if="formHide">
                <span class="chat-input">
                    <input type="text" placeholder="message">
                    <img src="/static/images/send.svg" alt="send">
                </span>

                <span class="chat-left">hiasdfasdfasdfasdfsd</span>
                <span class="chat-right">asdsadfasdfasdfasdfaf</span>
                <span class="chat-left">hi</span>
                <span class="chat-right">asdsadfasdfasdfasdfaf</span>
                <span class="chat-left">hi</span>
                <span class="chat-right">asdsadfasdfasdfasdfaf</span>
                <span class="chat-left">hi</span>
                <span class="chat-right">asdsadfasdfasdfasdfaf</span>
                <span class="chat-right">hiasdfasdfasdfasdfasjdfbaskljsfasdfasdfasjdkfbaskjdfbaskjhdfvaksjdfvasjkhdfvasjkdhfvaskjdfvdfbaslkdjfbasldkfabvsdjklfhasvdfkhjasvdfahjksdfv</span>
                <span class="chat-right">asdsadfasdfasdfasdsadfasdfsadfasdfaf</span>
            </div>

        </section>
    </span>
    <script src="/static/javascript/chat.js"></script>
</body>

</html>